https://www.experian.com/blogs/ask-experian/how-do-i-qualify-for-a-private-student-loan/
https://www.consumerfinance.gov/consumer-tools/student-loans/
https://www.consumerfinance.gov/consumer-tools/student-loans/answers/
https://studentaid.gov/understand-aid/eligibility/requirements/non-us-citizens
